<!DOCTYPE html>
<html>

<head>
	<title>Home Page</title>
</head>

<body>
	<h1>Welcome to our Website!</h1>

	{% if logged_in %}
	<p>You are logged in.</p>
	{% else %}

	{% if message %}
	<div class="alert alert-danger">{{ message }}</div>
	{% endif %}


	<form method="POST" action="{{ url_for('verify') }}">
		<label for="email">Email:</label>
		<input type="email" id="email" name="email" required><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br><br>
		<input type="submit" value="Log In">
		<input type="hidden" name="message" value="Incorrect email or password" required>
	</form>

	<p>Are you a new user? <a href="{{ url_for('signup') }}">Sign up here</a>.</p>
	{% endif %}

</body>

</html>